# Introduction to Pandas

## Learning Objectives

1. In [Numpy Is Not Enough](#problem), you will learn why Numpy alone is not sufficient for data analysis
<br><br>
2. [Pandas: An Overview](#overview) will introduce you to Pandas and give you a brief overview of the functionality the library offers
<br><br>
3. [Introducing Pandas Objects](#objects) will introduce you to the Pandas data structures you will use to explore and manipulate data
<br><br>
4. In [Creating Your Own Series & DataFrames](#create), you will learn how to create your own Pandas Series and DataFrames from scratch and investigate their stucture using certain attributes
<br><br>
5. [Reading CSVs & Excels as Pandas DataFrames](#read) will teach you how to circumvent creation from scratch and load in your work files from disk or the web
<br><br>
6. [Preliminary Investigation of a Dataset](#prelim) will teach you the basic first steps that you will need to invoke when exploring any dataset
<br><br>
7. In [Selecting single and multiple columns](#select), you will learn how to select single and multiple columns from a DataFrame
<br><br>
8. [Indexing, Selecting and Filtering](#indexing) will build on the previous chapter and teach you how to index and filter rows and columns 
<br><br>
9. In [Sorting Your Data](#sorting), you will learn how to sort your data by single/multiple columns, in ascending/descending order etc. You will also learn about the inplace argument, which lets you modify the original dataframe
<br><br>
10. [Dropping & Renaming Columns](#drop_rename) will teach you how to drop irrelevant columns and rename weirdly named columns in your data
<br><br>
11. In [Updating Values & Creating New Columns](#update), you will learn how to update values in your data and create new columns, which are dependent on current column values
<br><br>
12. [Aggregating Values](#agg) will teach you the basics of grouping and aggregating values in your data. You will also learn how to generate Excel-style pivot tables from your data
<br><br>
13. Although [Merging Dataframes](#merge) is not part of the exercises, it will teach you the different ways to combine and join multiple dataframes — a critical skill for when you work on your use case and daily projects
<br><br>
14. Lastly, in [Saving Files](#save), you will learn how to export your dataframes as CSV, Excel files etc.
<br><br>

The more refined & detailed list of learning outcomes can be found in the [Summary of Learning Outcomes](#summary) section at the end of the notebook

<a id="problem"></a>

## Numpy Is Not Enough

- Numpy is the backbone for scientific computing in Python due to its performance advantages
- However, it still leaves some functionality to be desired:
    - Intuitively and conveniently attach row & column labels to 2-D arrays (eg spreadsheets)
    - Native ability to handle missing values — a rather common data problem
    - Load data from a wide variety of sources (eg CSV, Excel, SQL etc.)
    - Transformations that do not nicely translate to element-wise operations like pivot tables, grouping etc
    - Intuitively and conveniently handle heterogenous values (e.g. Col A → PC9 (`str`), Col B → Price (`int`) etc)
    - Built-in data visualization capabilities (we will cover the dataviz libraries in the next notebook)
- Welcome to the world of Pandas — the library builds on Numpy and `ndarray`s to solve many of these problems
    - Experienced with Excel? You'll feel much more at home with Pandas

<figure>
  <img src='img/numpy_excel-to-pandas.png' style='width:800px'/>
  <figcaption>Image from <a href='https://jalammar.github.io/visual-numpy/'>A Visual Intro to NumPy and Data Representation</a></figcaption>
</figure>

<a id="overview"></a>

## Pandas: An Overview

<figure>
  <img src='img/pandas_logo.png' style='width:500px'/>
</figure> 

Here are just a few of the things that pandas does well (taken from the official Pandas documentation):

- Human-readable **row & column labelling** (just like Excel spreadsheets!)
    - Augmented by intelligent **label-based slicing**, **fancy indexing**, and **subsetting** of large data sets
- Easy handling of **missing data** (represented as NaN) in floating point as well as non-floating point data
- Flexible **reshaping** and **pivoting** of data sets
- Intuitive **merging** and **joining** of multiple data sets, based on keys
- Powerful, flexible **group by** to perform _split-apply-combine_ operations for aggregating and transforming data 
- Size mutability: columns can be **inserted and deleted** from DataFrame and higher dimensional objects
- Make it **easy to convert** ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects
- **Hierarchical labeling** of axes (possible to have multiple labels per row or column)
- **Robust IO tools** for loading data from flat files (CSV and delimited), Excel files, databases, and saving / loading data from the ultrafast HDF5 format
- **Time series**-specific functionality: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

Needless to say, there is a lot of ground to cover → we cover the top functionality that will give you a solid start!

In [1]:
# You don't need to import numpy, but it's a common enough library that you might as well import it whenever you import pandas
import numpy as np
import pandas as pd # Standard practice to import as pd

In [2]:
print("Pandas version:",pd.__version__)

Pandas version: 0.25.3

<a id="objects"></a>

## Introducing Pandas Objects

- They can be thought of as enhanced versions of NumPy structured arrays
    - Rows and columns are identified with _labels_ rather than simple integer indices
- There are 3 fundamental Pandas data structures
    - **Series**: Think of this as a single column in an Excel spreadsheet
    - **DataFrame**: Think of this as a spreadsheet in an Excel workbook
    - **Index**: Think of this as the array of row/column labels that make identification possible
- In this notebook, we'll focus mostly on getting you comfortable with Series & Dataframes
   - Pandas Index is a slightly trickier customer - resources will be provided at the end for those interested!

<figure>
  <img src='img/pandas-series_df_index.png' style='width:500px'/>
  <figcaption><a href='https://bookdata.readthedocs.io/en/latest/base/01_pandas.html'>Image from here</a></figcaption>
</figure>

The entire structure is the Dataframe, composed of multiple Series and Indeces

<a id="create"></a>

## Skill #1: Creating Your Own Series & DataFrames

- Although you will mostly be reading in your own txt/csv/excel files to convert them into Series & Dataframes, it pays to know how to manually build series & dataframes from scratch
- There are 2 data structures we have studied so far, which are closest to Series & Dataframes
    - **Numpy arrays**
    - **Dictionaries**
- Pandas objects can be conceived to be _generalization_ of `ndarrays`
    - Specifically, `ndarray`s have _implicitly defined integer indeces_ that let us access their values 
        - E.g., think of how we use `arr1d[0]` to access the 1st element of `arr1d`
        - Quite restrictive → forced to use the implicit integer index (`0, 1, 2...`) to access elements
    - `Series` → access elements using _flexible, explicitly defined row index_
    - `DataFrame` → access elements using _flexible, explicitly defined row & column index_
- Pandas objects can be thought of as _specialization_ of `dict`s
    - Generally, `dict` maps arbitrary keys to a set of arbitrary values        
    - `Series` → maps typed keys to typed values
        - Same `dict` can have `int`, `float`, `str`, `tuple` etc keys
        - In the same `Series`, however, all the keys should be of the same type. Typing allows efficient operations
        - The collection of all keys is the `Index` of the `Series`
        - Just as "typing" makes Numpy arrays more efficient than Python lists for many ops, Pandas Series are more efficient than dictionaries
    - `Dataframe` → maps a column name to a `Series`
        - The collection of all column names is the Column `Index` of the Dataframe (as we saw earlier, there are 2 `Index`-es for the same object)

### Creating Your Own Series

- We can build a `Series` using `pd.Series(data)`
- `data` can be a list, numpy array, scalar, dict, or another `Series`
- Once created, we can invoke the following attributes to understand the structure:
    - `values` → underlying numpy array that contains the values
    - `shape` → shape of the Pandas Series (specifically, shape of underlying `ndarray`)
    - `index` → `Index` associated with the `Series`
    - `dtype` → the fixed `dtype` of the values in the `Series`

In [3]:
# Building a Series from a list
ds_list = pd.Series([1, 2, 3, 4, 5])
print('Series created from a list/n:{ds_list}')

Series created from a list/n:{ds_list}

In [4]:
# pd.Series has index parameter that lets you specify an explicitly different index
emp_names = ['John Snow', 'Tyrion Lannister', 'Bilbo Baggins', 'Frodo Baggins','Zaphod Beeblebrox']
salaries = [0, 25000, 30000, 40000, 50000]
ds_list_idx = pd.Series(salaries, index=emp_names)
print('Series with a different index/n:{ds_list_idx}')

Series with a different index/n:{ds_list_idx}

In [5]:
# Building a Series from a numpy array
np_array = np.random.randn(10)
ds_arr = pd.Series(np_array)
ds_arr

# Why does this display the contents w/out print? Why is it not showing any error?

0   -0.460405
1    0.465941
2    0.380658
3   -0.524652
4    1.421018
5   -0.069607
6    0.111981
7   -0.009072
8   -1.148575
9   -0.318249
dtype: float64

In [6]:
# Building a Series from a single scalar value
ds_scalar = pd.Series('Some value', index=[2, 4, 5, 6]) # Manually setting specific index
ds_scalar

2    Some value
4    Some value
5    Some value
6    Some value
dtype: object

In [7]:
# Building a Series from a dictionary
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
pop_ds = pd.Series(population_dict)
pop_ds

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [8]:
# Once created, we can inspect the contents & structure of the Series using values, shape, index and dtype
print(f'Invoking the values attribute → underlying {type(pop_ds.values)} of the Pandas Series:\n{pop_ds.values}')
print(f'Shape of the Pandas Series: {pop_ds.shape}')
print(f'Index of the Pandas Series:\n{pop_ds.index}')
print(f'As an object, Pandas Series is {type(pop_ds)} type')
print(f'The dtype of each element of the Pandas Series:{pop_ds.dtype}')

Invoking the values attribute → underlying <class 'numpy.ndarray'> of the Pandas Series:
[38332521 26448193 19651127 19552860 12882135]
Shape of the Pandas Series: (5,)
Index of the Pandas Series:
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
As an object, Pandas Series is <class 'pandas.core.series.Series'> type
The dtype of each element of the Pandas Series:int64

### Creating Your Own DataFrame

- We can build a `Dataframe` using the similarly defined `pd.DataFrame(data)`
    - `data` can be a 2-D numpy array, `dict` of lists, `dict` of `Series` objects
- Once created, we can invoke `values`, `shape` and `index`
    - `dtype` attribute is not applicable to `Dataframe` → we need to use the `dtypes` attribute
    - `columns` → Column `Index` associated with the `Dataframe`

In [9]:
# From a 2D numpy array
# Like pd.Series(), pd.DataFrame() has index and columns parameter
df_array = pd.DataFrame(np.random.randn(5, 3))
df_array

          0         1         2
0  2.059544  1.389960  0.293970
1 -0.482753 -0.508393  0.092123
2  0.296962  0.472722 -0.677814
3 -0.224266  1.686711 -0.574419
4 -0.093211 -0.631989  1.189062

In [10]:
# The fancy formatting disappears and readability suffers 
# when we use the print() function
print(df_array)

# Beautiful table that you saw earlier → HTML version of df_array
# It was rendered automatically by Jupyter Notebook

          0         1         2
0  2.059544  1.389960  0.293970
1 -0.482753 -0.508393  0.092123
2  0.296962  0.472722 -0.677814
3 -0.224266  1.686711 -0.574419
4 -0.093211 -0.631989  1.189062

In [11]:
# IPython is Interactive Python, which powers these Jupyter Notebooks
# It contains a display module that, in turn, contains the display() function
# This function extends print() in some ways and is tailored for cell blocks in notebooks
from IPython.display import display
display(df_array)

# The issue with earlier approach for generating beautiful arrays
# is that by default, only one beautiful table can be displayed per cell

          0         1         2
0  2.059544  1.389960  0.293970
1 -0.482753 -0.508393  0.092123
2  0.296962  0.472722 -0.677814
3 -0.224266  1.686711 -0.574419
4 -0.093211 -0.631989  1.189062

In [12]:
# Like pd.Series(), pd.DataFrame() has index and columns parameter
df_array_new = pd.DataFrame(np.random.randn(5, 3),
                            index=['a', 'b', 'c', 'd', 'e'],
                            columns=['col1', 'col2', 'col3'])
display(df_array_new)

       col1      col2      col3
a -0.652258 -0.102793  0.847565
b -0.001708  0.439190  0.152000
c  1.069584 -1.731124  0.968662
d -0.592261 -1.051914 -0.908302
e  0.182826  1.161710  1.302781

In [13]:
# From a dictionary of lists
# Keys are the column names & Values are the column values
data_l = {
            'names' : ['John Snow', 'Tyrion Lannister', 'Bilbo Baggins', 'Frodo Baggins','Zaphod Beeblebrox'],
            'salaries' : [0, 25000, 30000, 40000, 50000],
            'age' : [35, 40, 50, 45, 60]
        }   

df_lists = pd.DataFrame(data_l)
display(df_lists)

               names  salaries  age
0          John Snow         0   35
1   Tyrion Lannister     25000   40
2      Bilbo Baggins     30000   50
3      Frodo Baggins     40000   45
4  Zaphod Beeblebrox     50000   60

In [14]:
# From a dictionary of Series objects
# Remember how we created a Pandas Series of US state populations?

# population_dict = {'California': 38332521, 'Texas': 26448193, 'New York': 19651127, 
#                    'Florida': 19552860, 'Illinois': 12882135}
# pop_ds = pd.Series(population_dict)

# Let's combine this with a Pandas Series that stores areas of the same US states
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area_ds = pd.Series(area_dict)
area_ds

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [15]:
cities = pd.DataFrame({'population': pop_ds, 
                        'area': area_ds})
display(cities)

# How many columns does this dataframe have? Give reasons for your answer!

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

- As a special case, you can also convert a `Series` to a `Dataframe` using `pd.DataFrame(series)`
- This creates a `Dataframe` with a single column

In [16]:
# From a single Series object
area_df = pd.DataFrame(area_ds, columns=['area'])

# Can you spot the difference?
print(f"Printing the Series with shape {area_ds.shape} and rank {area_ds.values.ndim}")
display(area_ds)
print(f"Printing the DataFrame with shape {area_df.shape} and rank {area_df.values.ndim}")
display(area_df)

Printing the Series with shape (5,) and rank 1

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

Printing the DataFrame with shape (5, 1) and rank 2

              area
California  423967
Texas       695662
New York    141297
Florida     170312
Illinois    149995

<a id="read"></a>

## Skill #2: Reading CSVs & Excels as Pandas DataFrames

- As mentioned earlier → you will mostly be reading in your own txt/csv/excel files into `Series` & `Dataframe`
- In Excel, once your file exceeds 10K rows → things start to slow down pretty quickly
    - All of us have experienced this → you are in good company!
- In fact, Excel caps a single spreadsheet in a workbook to slightly above 1M rows
    - At that point, your calculations will take forever to compute. Or force Excel to crash
- Pandas has no such limits. Pandas also handles millions of data points seamlessly
- `read_csv()` and `read_excel()` are the two functions that we will be using to read in your data
- They contain many interesting parameters (eg skipping first rows because of blank space etc)
- We cover only the basics here! So, refer to the documentation of both functions to learn more
    - Pay attention to `skiprows`, `header`, `usecols`, `index_col` and `sheetnames` to start with
- Not just restricted to excel, csvs → can also pull data from relational DBs, HDF5, SPSS, SAS files etc!
    - Refer the additional info section for more info

In [21]:
df = pd.read_csv('data/adult.csv')
display(df)

,Unnamed: 0,ssn,age,workclass,fnlwgt,education,education-num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,country_of_origin,income,dob
0,0,1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,1982-06-04
1,1,2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,1971-02-03
2,2,3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,1983-09-29
3,3,4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,1968-07-09
4,4,5,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,1993-03-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,32556,32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,1994-03-22
32557,32557,32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,1981-02-25
32558,32558,32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,1963-12-02
32559,32559,32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,1999-03-26
32560,32560,32561,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,1969-11-28

In [18]:
df_xls = pd.read_excel('data/')
display(df_xls)

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [19]:
# Both Series & DataFrames are Python objects 
# Depending on how large your data is → your computer's memory can quickly fill up
# Good practice to delete them after use and load when required
del df
del df_xls

# Try loading the file
display(df)

NameError: name 'df' is not defined

### Loading UCI Census Income Dataset

- Let's load in a reasonably simple and popular dataset to demonstrate what Pandas can do
- The Adult Data Set is a popular ML dataset that contains information about the income of different people
    - Has over 50K rows and 14 columns (numbers, strings etc)
    - Used to train a model that predicts whether an individual earns more than $50K per year
    - Available in the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/adult)

In [ ]:
# Here, we learn how to load in data...directly from the web!

# UCI datasets are commonly stored as .data files (think of them as ndarrays)
# with information about what each column contains, present elsewhere in the page
# We have taken that info and stored it in a list here
cols = ['age', 'workclass', 'fnlwgt', 'education',
        'education-num', 'marital_status', 'occupation', 'relationship', 'race',
        'gender', 'capital_gain', 'capital_loss', 'hours_per_week',
        'country_of_origin', 'income']

# read_csv function call for online csv is same as local csvs
# names parameter → accepts a list of column names to use
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', names = cols)

<a id="prelim"></a>

## Skill #3: Preliminary Investigation of a Dataset

- How do we know whether we have succesfully loaded the dataset into our `DataFrame`?
- `DataFrames` come with a variety of attribute & methods that let you investigate structure quickly
    - Already seen `dtypes`, `shape`, `index` and `columns`
    - `head(n)` & `tail(n)` → first and last `n` rows respectively (`n=5` by default)
    - `sample(n)` → randomly samp|les `n` rows from the dataframe
    - `info()` → top-level information like # of rows, columns, dtypes, null values, memory usage etc 
    - `describe()` → a variety of summary statistics like mean, std, min, max, etc for numerical columns
- All these methods return a `DataFrame` or `Series` or `Index`
    - In addition to displaying the results, you can also use variables to catch the values!

### Inspect structure using `dtypes`, `shape`, `index` & `columns`

In [ ]:
print(f'Data types of the Adult Dataset DataFrame: \n{df.dtypes}')
print(f'\nShape of the Adult Dataset DataFrame: {df.shape}')
print(f'\nRow Index of the Adult Dataset DataFrame: \n{df.index}')

# Demonstrating the use of a variable to captrr

print(f'\nCol Index of the Adult Dataset DataFrame: \n{df.columns}')

# Note that we can see all of these info with a single line of code later!

### Common Pandas Datatypes

| Pandas Datatype | Python Datatype | Usage |
|:--|:--|:--|
| `int64` | `int` | Integer numbers |
| `object` | `str` | Text, mixture of numeric & non-numeric vals in a column|
| `float64` | `float` | Floating point numbers |
| `bool` | `bool` | True/False values |

There also exists additional data types like `datetime64`, `timedelta64`, `category` etc. We will encounter a few of these data types in later notebooks

### Quickly glimpse rows using `head`, `tail` and `sample`

In [ ]:
# We can get the first five rows with:
df.head()

In [ ]:
# If we wanted more (or less), set n to appropriate value
df.head(10)

In [ ]:
# Conversely, we can get the last 5 rows using:
df.tail()

In [ ]:
# We can also get a random sample of n rows
df.sample(5)

# Note how these are the not the first/last 5, as evident from their index

### Summary statistics using `info()`, `describe()` & `value_counts()`

In [ ]:
# Remember our earlier comment about that one line of code?
df.info()

In [ ]:
# We can get the numerical statistics for the numerical columns
display(df.describe())   # Why do you think we used display() here?

# Note that this is just a DataFrame as well!
print(type(df.describe()))

# Question: What do you think is the index & columns?

In [ ]:
# When number of columns is sometimes large, we can also use the transpose for readability
df.describe().T

## Mini-Exercise: Loading & Inspecting a Dataset

- There exists 3 datasets in the folder `filtered_datasets` in `levis_datasets` in the parent directory to where the notebook is
- Load the `clustering_mall_customers.csv` dataset, which contains info of different kinds of mall-going customers
- Inspect the structure of the dataset using all the attributes & methods we just discussed

In [ ]:
# YOUR CODE HERE

<a id="select"></a>

## Skill #4: Selecting single and multiple columns

- Very often, we wish to select a column or subset of columns from a `DataFrame`
- We can access a single column either as a `Series` or a single-column `DataFrame`
    - As a `Series` → using `[]` or `.` operators
    - As a `DataFrame` → using only `[]` operator
- Multiple columns can only be accessed as a `DataFrame` using `[]` operator

In [ ]:
# We can look at a single column like this
ds = df["workclass"]
display(ds)

# If we want Pandas to return a Series, we need to pass the column name into df[...]
# 'workclass' is the column name passed inside df[...]

# Brief aside, notice how a single column is of dtype series
print(f'This is of type {type(df["workclass"])}')

In [ ]:
# We can also do this to select a column
ds = df.workclass
display(ds)

# We recommend using the previous syntax
# Can you think of any issues with this approach?

In [ ]:
# If you want to view it as a dataframe, you need to use [[]] instead of []
display(df[['workclass']])

# If we want Pandas to return a dataframe, we need to pass a LIST of column names into df[...]
# ['workclass'] is the 1-membered LIST we pass into df[...] 

# Notice how a single column is of dtype series
print(f'This is of type {type(df["workclass"])}')

In [ ]:
# We can extend this to multiple columns
display(df[["age", "workclass"]])

### Finding Unique Elements

- Often times, we deal with categorical columns, which will have repeat entries
    - Think of a column like "campaign type" in an email campaign performance report
- We might want to extract unique values from that column
    - Might also be interested in how many times each unique value occurs in the column

In [ ]:
# We can get the unique values for a single series
ds.unique()

In [ ]:
# To get a description of any categorical columns
df["workclass"].value_counts()

<a id="indexing"></a>

## Skill #5: Indexing, Selecting and Filtering

- Remember how we said `DataFrames` can be thought to be generalizations of `ndarrays`?
- We can do all of `ndarray` data access operations with `DataFrame` operations:
    - Indexing (e.g. `arr[2, 1]`)
    - Slicing (e.g. `arr[:, 1:5]`)
    - Masking (e.g. `arr[arr > 0]`)
    - Fancy Indexing (e.g. `arr[0, [1, 5]]`)
    - Combinations of the above (e.g. `arr[:, [1, 5]]`)
- Use special indexer attributes 
    - `.loc` → label-based indexing (e.g. column with label `'occupation'`)
    - `.iloc` → integer position-based indexing (e.g. 5th column) → like an `ndarray`

In [ ]:
display(df.head())
display(ds.head())

In [ ]:
# Indexing operations
print(f'3rd element in the series is {ds.loc[2]}\n')
print(f'"Occupation" column in df is {df.loc[:, "occupation"]}\n')
print(f'5th column in df is {df.iloc[:, 4]}')

# Question: Do you think df.loc[2, :] will work? What about df.iloc[2, :]?
# Will there be any difference between the two? Why/why not?

In [ ]:
# Slicing operations
display(ds.loc[:3])
display(df.loc[10:13, 'capital_gain':'country_of_origin'])
display(df.iloc[2:6, 4:8])

# Note how we could use label-based slicing as well

In [ ]:
# Since .loc is label-based, it is inclusive of the end index
# .iloc is position-based (like lists & ndarrays) and hence, exclusive of end index
print('Using loc:')
display(df.loc[5:10, :])
print('Using iloc:')
display(df.iloc[5:10, :])

# Notice any difference between the two?

In [ ]:
# Masking operations
# First, we must build the mask
mask = df.age > 30 

# You can inspect the mask with:
display(mask)

In [ ]:
# Step 2: Apply the mask
display(df.loc[mask]) # Same as df.loc[mask, :] or df[mask]

# You can also combine the 2 steps using df.loc[df.age > 30]

In [ ]:
# Just like with numpy arrays, you can also get the inverse selection
display(df[~mask])

In [ ]:
# Fancy indexing operations
display(df.loc[df.age < 50, ['age', 'workclass']])

# Note how we combined boolean indexing along the vertical axis (rows)
# and fancy indexing along the horizontal axis (columns)

In [ ]:
# YOUR TURN: Is there a difference between df.iloc[4, :] & df.iloc[4:5, :]?

In [ ]:
# YOUR TURN: Use boolean indexing to get rows where age is greater than 30 and gender is female
# Notice anything strange? :)

<a id="sorting"></a>

## Skill #6: Sorting Your Data

- Most common methods you would use to sort your data
    - `sort_values(col_name)` → sorts as per values in the column `col_name`
    - `sort_index()` → sorts as per the `Index`
        - Might seem trivial with a `RangeIndex`
        - Very useful after groupbys, pivot tables, etc
- By default, both methods sorts in ascending order
    - To sort in descending order, use `ascending=False` parameter
- Both methods return a new sorted `DataFrame`
    - Default behaviour for most, if not all, pandas methods
    - Useful in preventing accidental overwrites but has memory overheads
- If you wish to change the original `DataFrame`, use `inplace=True` parameter

In [ ]:
# First, let's sort the dataframe by the 'age' column
display(df.sort_values("age").head())

# Notice the "jumbled up" Index?

In [ ]:
# We can also sort by multiple columns → just pass it as a list
# Variables can also be used to catch the returned dataframe object

df_age_race_sorted = df.sort_values(["age", "race"])
display(df_age_race_sorted.head())

# Order of column names in the list determines the sort order

In [ ]:
# Demonstrating the use of sort_index()
display(df_age_race_sorted.sort_index().head())

# We are back to where we started

In [ ]:
# It might seem that df_age_race_sorted is altered, but it's not the case
display(df_age_race_sorted.head())

In [ ]:
# inplace=True → orig dataframe is altered, a fresh copy is not returned
df_age_race_sorted.sort_index(inplace=True)

display(df_age_race_sorted.head())

- Apart from accidental modification, you will need to exercise caution with `inplace=True`
- Parameter ensures that no copies/views of dataframes are returned
    - Instead, it returns a `NoneType` Python object
        - Python functions that do not **return** values return a `NoneType` "object" as placeholder
- Why should you bother about this?
    - Chaining of other functions (e.g. `head()`) will throw up an error
    - However, the original dataframe will be altered!

In [ ]:
# Currently df_age_race_sorted has the same order as df as we invoked sort_index(inplace=True)
df_age_race_sorted.head()

In [ ]:
# Let's use sort_values(inplace=True) to sort now, followed by chaining the head()
df_age_race_sorted.sort_values(['age', 'gender'], inplace=True).head()

# Inspect the error - what does it tell you?

In [ ]:
# But...has df_age_race_sorted...changed in spite of the error?
df_age_race_sorted.head()

# Tread cautiously!

In [ ]:
# Lastly, we can also sort as per descending order as well
display(df.sort_values("age",ascending=False).head())

In [ ]:
# Want to sort by multiple columns with different sort orders?
display(df.sort_values(["age", "race"],ascending=[False, True]).head())

<a id="drop_rename"></a>

## Skill #7: Dropping & Renaming Columns

- Ever had to work with spreadsheets that have a lot of columns or weirdly named ones?
    - `drop` and `rename` methods are very useful for this
- We will briefly look at these 2 methods
    - Will be covered in greater detail in _Data Cleaning_ notebook

In [ ]:
# Let's load a slightly modified version of the dataset
# to demonstrate these functions
df = pd.read_csv("data/adult.csv", index_col=0)
df.head()

# There are 2 new columns in this df —> Can you tell which ones?

In [ ]:
# Just pass the column name you want to drop
df.drop(columns="fnlwgt").head()

# Do you think the original df is modified? Why/why not?
# Can you think of a way to switch this behaviour?

In [ ]:
# Want to drop multiple columns?
df.drop(columns=["fnlwgt", "ssn"]).head()

# How about now? Will the columns still be there in df?
# Can you recommend how we can drop these columns from df?

In [ ]:
# Let's drop the columns permanently from the dataframe
df.drop(columns=["fnlwgt", "ssn"], inplace=True)

df.head()

### Dropping NULL entries

- Corrupt or missing data is a common problem for data scientists to deal with
- Not so straightforward to understand completely - could be:
    - _Missing Completely At Random_ 
        - E.g., weight missing because scales had faulty batteries
        - Regardless of any observable - slightly hypothetical
    - _Missing At Random_  
        - E.g., faulty scales that produce more missing values when kept on a soft surface
        - Whether surface soft/not is an observable
        - Easier to find this dependence and model missing values as say, a function of the observable
    - _Missing Not At Random_ 
        - E.g. faulty scales that produce more missing values as time increases, surface smoothness, weight increases etc.
        - Might not all be observable. Might also not be able to find all observables that has an impact
- Not so straightforward to deal with missing values also
    - Ignore them?
    - Drop them? 
    - Replace them with some value? What value?
- `dropna()` is used to drop rows & columns with `NaN` values
    - Considered in more detail in _Data Cleaning_ notebook

In [ ]:
# First, let us inspect which columns have missing rows
display(df.info())

# Note the non-null count for each column
# More directly, you can also use df.isna().sum()

In [ ]:
# workclass column has NaN values
# isna() → generates a mask for rows with NaN values
df[df.workclass.isna()]

# Want non-NAN values? Invert the mask with ~

In [ ]:
# Suppose we want to drop rows where ALL the values are NaN
display(df.dropna(how="all").head())

print(f'{len(df) - len(df.dropna(how="all"))} rows dropped ')

# Do the number of rows dropped, make sense to you?

In [ ]:
# Suppose we want to drop rows where AT LEAST one entry is NaN
display(df.dropna(how="any").head())

print(f'{len(df) - len(df.dropna(how="any"))} rows dropped ')

# Do the number of rows dropped, make sense to you?

In [ ]:
# We can also specify the column(s) we need to look at
df.dropna(how="all",subset=["workclass", 'race']).head()

In [ ]:
# What if we want to drop entire columns that have NA values?
# i.e., instead of dropping rows with NaNs → we drop columns with NaNs
display(df.dropna(how='any', axis=1).head())

print(f'{len(df.columns) - len(df.dropna(how="any", axis=1).columns)} cols dropped ')

In [ ]:
# Finally, to make this change permanent, we have to include inplace=True
print(f'Dataframe shape before dropping: {df.shape}')

df.dropna(how="any",subset=["workclass"],inplace=True)

print(f'Dataframe shape after dropping with inplace=True: {df.shape}')

In [ ]:
# rename() method requires us to pass a dictionary 
# keys → old names, values → new_names
# Let's rename "country_of_origin" to "nationality"
# and "dob" to "date_of_birth"

renaming_dict = {"country_of_origin" : "nationality",
                 "dob" :  "date_of_birth"}

df.rename(columns=renaming_dict)

# Do you think the column names in the orig dataframe have changed? Why/why not?

In [ ]:
# Like dropna(), if we wish to make the change permanent
print(f'Dataframe columns before renaming: \n{df.columns}')
df.rename(columns=renaming_dict, inplace=True)
print(f'Dataframe columns after renaming: \n{df.columns}')

## Exercise 3

Take some time to work on exercise 3

<a id="update"></a>

## Skill #8: Updating Values & Creating New Columns

- Creating a new column is easy in Pandas!
    - Values can either be constant or dependent on other columns
- We demonstrate a couple of different options

In [ ]:
# Let's see what the data looks like
df.head()

In [ ]:
# Let's say we want to create a new column called "Active"
# with a single value of "Yes"
df['Active'] = "Yes"
df.head()

# Check the right end of the dataframe. Any new addition?

In [ ]:
# New columns can also depend on other columns
df["age_in_dog_years"] = 7 * df.age
df[["age","age_in_dog_years"]].head()

# Remember how df[[col_1, col_2]] selects only the subset?

#### Using `np.where()`

- Remember how the underlying foundation of Pandas is numpy?
    - All numpy functions compatible with `Series` and `Dataframe`
- `np.where(...)` is a powerful function for conditional value setting
    - Pretty much like `IFS` command in Excel
- `np.where(cond, v_true, v_false)` takes in 3 arguments
    - `cond` → condition(s) to be checked
    - `v_true` → value(s) to be set if condition is true
    - `v_false` → value(s) to be set if condition is false
- Just like `IFS`, we can have nested conditions
    - Let's demonstrate with an example!

In [ ]:
# Let's create an "Age Group" column based on "Age" column
# which takes values of <18 → Minor, 18-60 → Adult, >60 → Senior

# We can build this up layer by layer
# cond → whether Minor or not, v_true → , v_false → 
df['age_group'] = np.where(df.age < 18, "minor", "non-minor")

# Let's show a few results
print(f'Displaying a few minor row entries:')
display(df[df['age'] == 17].head(3))
print(f'Displaying a few non-minor row entries:')
display(df[df['age'] == 20].head(3))

In [ ]:
# When df.age < 18 is FALSE → age >= 18
# We check whether it is < 60 or not and assign the appropriate value
df['age_group'] = np.where(df.age < 18, "minor", 
                            np.where(df.age < 60, "adult", "senior"))

# Let's show a few results
print(f'Displaying a few minor row entries:')
display(df[df['age'] == 17].head(3))
print(f'Displaying a few adult row entries:')
display(df[df['age'] == 20].head(3))
print(f'Displaying a few senior row entries:')
display(df[df['age'] > 60].head(3))

### Using `apply()`

- What if you don't have readymade functions to generate new dependent columns?
    - Might be possible to use a really long `np.where()` function call
    - Might want to give `apply()` a try!
- `apply()` → a method for `Series` and `Dataframe`, which accepts a function as an argument
    - Invoking `apply()` for a `Series`? Function must work on a single element (e.g. `int`, `str`)
    - Invoking `apply()` for a `Dataframe`? Function must work on a `Series` (e.g. a dataframe column)
- `apply()` acts like a loop and executes that function for all constituent components
    - For a `Series`, it applies the function to all elements
    - For a `Dataframe`, it applies the function along an axis
        - `axis=0` → applies along the `Index` → i.e., to each column
        - `axis=1` → applies along the `Columns` → i.e. to each row
        - This might be confusing, don't worry! Think in terms of top-down & left-right directions

In [ ]:
# Suppose we wish to find out who has zero capital_gain or/and capital_loss
# Let's define a function gain_loss_id() which accepts a row of data,
# Compares values in 2 columns — capital_gain & capital_loss — and 
# Returns one of 4 strings — "Zero Loss", "Zero Gain", "Both Zero" & "Both Non-Zero"

def gain_loss_id(your_row):    
    
    if (your_row['capital_gain'] == 0) & (your_row['capital_loss'] == 0):
        return "Both Zero"
    elif (your_row['capital_gain'] != 0) & (your_row['capital_loss'] == 0):
        return "Only Loss Zero"
    elif (your_row['capital_gain'] == 0) & (your_row['capital_loss'] != 0):
        return "Only Gain Zero"
    else:
        return "Both Non-zero"

In [ ]:
# Call the method and inspect the dataframe
df["gain_loss_id"] = df.apply(gain_loss_id, axis=1)
df.head()

# Note the axis argument when apply() is called on dfs

In [ ]:
# Let's demonstrate an apply() method invoked on a Series
# Suppose we want to find out whether someone is currently married or not
# Needs to be invoked only on the marital_status column

# Let's find the unique elements in marital_status column
df.marital_status.unique()

# Do you notice any issue with the string values?

In [ ]:
# #Remove whitespaces
df["marital_status"] = df["marital_status"].str.strip()

In [ ]:
# Let's create 3 lists of values that we will compare to
no_list = ["Never-married", "Divorced", "Separated", "Widowed"]
maybe_list = ["Married-spouse-absent"]
yes_list = ['Married-civ-spouse', 'Married-AF-spouse']

# Since we will invoke apply() on Series
# Passed function should work on single element (i.e. a string)
def check_marital_status(el):    
    
    if el in yes_list:
        return "Yes"
    elif el in maybe_list:
        return "Maybe"
    else:
        return "No"

In [ ]:
# Call the method and inspect the dataframe
df["is_currently_married"] = df["marital_status"].apply(check_marital_status)
df.head()

# Note how there is no axis argument when apply() is called on a Series

#### Using lambda functions with apply()

- Often times, what you need can be done by simple functions
    - So simple that it can be written in a single line
- In comes **lambda functions** — inline "use & dispose" functions
    - Can be used in place of your defined functions in `apply()`
- There are 4 parts to a lambda function:
    - The `lambda` keyword
    - The arguments
    - :
    - Function body

In [ ]:
# Suppose we want to get the square of the Age column
display(df.age.apply(lambda x: x**2))

# This is equivalent to:
# def square_age(x):
#   return x**2
# display(df.age.apply(square_age))

# What are some of the benefits of using lambda over explicit function definition?

In [ ]:
# Suppose you want to find out whether hours worker per week is < 40 or not
df["worked_below_avg_hrs"] = df["hours_per_week"].apply(lambda x: x < 40)

In [ ]:
# Lambda expressions can also incorporate simple if-else conditions
# function body → value_true if condition else value_false

# Let's rework the previous column
df["worked_below_avg_hrs_new"] = df["hours_per_week"].apply(lambda x: "Yes" if x < 40 else "No")

# See how this structure looks exactly like list comprehensions?

## Mini-Exercise: Using `apply()` for changing `gender`

- You wish to convert the current values in `gender` column to `f` (for female) and `m` (for males) respectively
- Try out `apply()` on both `df` and `df['gender']`
    - i.e., with `df`, you are invoking `apply()` on a `Dataframe`
    - i.e., with `df['gender']`, you are invoking `apply()` on a `Series`
- Experiment with both lambda and normal functions to do the trick
- Hint: `gender` column values are not 100% what you expect. Use the `unique()` method on the column to see what the issue is.

In [ ]:
# YOUR CODE HERE

<a id="agg"></a>

## Skill #9: Aggregating Values

- All `numpy` aggregation functions have `pandas` counterparts
    - `mean()`, `sum()`, `avg()`, `std()`, `median()`, `min()`, `max()` etc.
    - Only compatible with numeric columns
- Invoked typically as a method for `Series` or `Dataframe`
- `axis` parameter determines axis along which the aggregation is applied in `Dataframe`
    - `axis=0` → applies along `Index` → e.g., average of values in a column
    - `axis=1` → applies along `Columns` → e.g., average of values in a row

In [ ]:
# For a series, no need to specify the axis argument
print(f'Average number of hours worked: {df.hours_per_week.mean()}')

In [ ]:
# Let's see what happens when we apply the same logic to the dataframe
df.mean(axis=0)

# What do you make of the result?
# What kind of object do you think this is? What if we change axis to axis=1?

In [ ]:
# YOUR TURN: Compute the sum, min, max, mean, median and std of 
# the difference between 'capital_gain' and 'capital_loss' columns

### Level up your analysis with `groupby()`

- What if you want to get more refined aggregate values? For e.g.
    - SUM of value of goods sold PER country
    - AVG of number of purchase orders PER quarter PER country
- These are common but powerful use cases for business analytics
- `groupby()` is a powerful method to do just this. Broadly, it has 2 main components:
    - How to group the data (e.g., which categorical columns should we use to group)
    - How to aggregate the data (e.g., which agg function to apply to which column)

In [ ]:
# Let's try to find the MEAN of age values PER each educational category
display(df.groupby(['education'])['age'].mean())
print(f'The returned object is a {type(df.groupby(["education"])["age"].mean())}')

# Do you see how we changed the quotes around education and age in second line?
# Why do you think we did that?

In [ ]:
# Note how the returned object is a Series as we were aggregating only across Age column
# We can easily convert this to a DataFrame by enclosing 'age' in double square brackets
display(df.groupby(['education'])[['age']].mean())

- Note the structure of the basic `groupby()` method call
    1. Since it's a method → `df.groupby(...)`
    2. Specify column(s) to group by as a _list_ → `df.groupby(['education'])`
    3. Specify column(s) to perform the aggregation on → `df.groupby(['education'])['age']`
        - If you wish to obtain a dataframe finally, specify double brackets
    4. Invoke the aggregation function → `df.groupby(['education'])['age'].mean()`
- Till Step 3, we have `Groupby` objects
    - Cannot be displayed nicely in the notebook, like `Series` or `Dataframe`
    - An agg function must be applied to a `Groupby` object to convert it into a `Series` or `Dataframe` for display

In [ ]:
# Let's check out what the datatype of the intermediate steps are

print(f'Resulting object of Step 1 : df.groupby → {type(df.groupby)}')
print(f'Resulting object of Step 2 : df.groupby(["education"]) → {type(df.groupby(["education"]))}')
print(f'Resulting object of Step 3 (series) : df.groupby(["education"]["age"]) → {type(df.groupby(["education"])["age"])}')
print(f'Resulting object of Step 3 (df) : df.groupby(["education"][["age"]]) → {type(df.groupby(["education"])[["age"]])}')
print(f'Resulting object of Step 4 : df.groupby(["education"]["age"].mean()) → {type(df.groupby(["education"])["age"].mean())}')

# Pay close attention to the square and regular brackets in a groupby call

In [ ]:
# You can inspect the number of groups contained in the Groupby objects
print(f'There are {df.groupby(["education"]).ngroups} unique groups when grouped by education column')

#### Extending `groupby()`

- We can group by multiple columns
- We can also aggregate multiple columns
- We can also perform multiple aggregate functions on these columns
- Lastly, we can also perform 1 aggregate function on 1st column, another along the 2nd, etc.

In [ ]:
df.head()

In [ ]:
# Grouping along 2 columns — Let's look at AVG age PER income PER nationality
df.groupby(["income", "nationality"])[["age"]].mean()

In [ ]:
# Aggregating along 2 columns — Let's look at AVG capital_gain & capital_loss PER nationality
df.groupby(["nationality"])[["capital_gain", "capital_loss"]].mean().sample(10)

In [ ]:
# Multiple aggregation can be done via passing a dictionary
# key → column name, val → aggregating function
df.groupby(["nationality"]).agg({'age': 'mean', 'capital_gain': 'sum'}).sample(10)

### Level up your analysis with pivot tables

- Pandas also allows you to generate Excel-style pivot tables
- Summarize one or more numeric variables based on 2 other categorical variables
    - What is also called a _cross-tabulation_
- Executed using the `pd.pivot_table()` function

In [ ]:
pd.pivot_table(data=df, 
                index=['gender'],       # Row labels
                columns=['education'], # Column labels
                values='capital_gain',  # Numeric attribute that you want a summary statistic of
                aggfunc='mean')         # Specific summary statistic that you want

<a id="merge"></a>

## Skill #10: Merging Dataframes

- A powerful method to join multiple dataframes together along a common column(s)/index
    - We won't go into much detail here or the exercises → will see this in action with the use case
- `pd.merge()` functions implements one-to-one, many-to-one & many-to-many joins/merges
    - All of these are accessed via the same function call → type of data determines what finally happens
- In the very basic call, `pd.merge()` checks for matching column names in the 2 dataframes

In [ ]:
# This is an example of one-to-one merge
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
df3 = pd.merge(df1, df2)

display(df1)
display(df2)
display(df3)

# Notice how pd.merge() automatically merges along employee column?

In [ ]:
# Let's do a many to-many join
df4 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})
display(df1)
display(df4)

# You can also mention the merge key explicitly using the on parameter
print('After merging:')
display(pd.merge(df1, df4, on='group'))

### Specifying the merge Key

- `pd.merge()` looks for 1 or more matching column names between the two input `df`s, and uses this as key
    - What if the column names to match are not the same?
- `left_on` and `right_on` comes to the rescue!
    - `left_on` → specifies the column name(s) to match in the left `Dataframe`
    - `right_on` → specifies the column name(s) to match in the right `Dataframe`

In [ ]:
df5 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})

display(df1)
display(df5)
print('After merging:')
display(pd.merge(df1, df5, left_on= 'employee', right_on = 'name'))

# Often, during merges with different col names, there will be irrelevant columns
print('After merging & removing irrelevant entries:')
display(pd.merge(df1, df5, left_on= 'employee', right_on = 'name').drop('name', axis=1))

### Specifying the type of join

- What happens when a value appears in one key column but not the other?
    - In the previous demo, what if Sue's information was not present in the 2nd column?

In [ ]:
df6 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa'],
                    'salary': [70000, 80000, 120000]})

display(df1)
display(df6)
print('After merging & removing irrelevant entries:')
display(pd.merge(df1, df6, left_on= 'employee', right_on = 'name').drop('name', axis=1))

# What do you think happened?

- By default, `pd.merge()` performs what is called an _inner join_
  - What if we want 'Sue' to be present in the merged dataframe but with say, `NA` where values are not present?
- We can modify the kind of join setting the `how` argument in `pd.merge()`
  - `how='inner'` → performs an _inner join_ (default behaviour)
  - `how='outer'` → performs an _outer join_
  - `how='left'` → performs an _left join_
  - `how='right'` → performs an _right join_

<figure>
  <img src='img/pandas_joins.png' style='width:500px'/>
  <figcaption>Image from <a href='https://medium.com/swlh/merging-dataframes-with-pandas-pd-merge-7764c7e2d46d'>Medium</a></figcaption>
</figure>

In [ ]:
# Let's see how the same merge happens but with an outer join
print('After outer join:')
display(pd.merge(df1, df6, left_on= 'employee', right_on = 'name', how='outer').drop('name', axis=1))

# Showing the old dataframe for reference
print('After inner join:')
display(pd.merge(df1, df6, left_on= 'employee', right_on = 'name', how='inner').drop('name', axis=1))

### Specifying overlapping column names

- What happens when you have 2 dataframes with conflicting/same column names?

In [ ]:
df7 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [1, 2, 3, 4]})
df8 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [3, 1, 4, 2]})

display(df7)
display(df8)
display(pd.merge(df7, df8, on="name"))

- By default, `pd.merge()` automatically appends a suffix `_x` or `_y` to make the output columns unique
- If these defaults are inappropriaty → specify a custom suffix using the `suffixes` argument

In [ ]:
display(pd.merge(df7, df8, on="name", suffixes=["_L", "_R"]))

<a id="save"></a>

## Skill #11: Saving Files

- What good is a dataframe if you cannot export it to excel and CSV files that can be shared with others?
- `to_csv()` and `to_excel()` are the 2 functions that do this
    - There are more exporting functions that Pandas offers, just like importing functions
    - In this notebook, we showcase the `to_csv()` in action

In [ ]:
# Let's export the merged dataframe of df7 and df8 to a csv file
df_new = pd.merge(df7, df8, on="name", suffixes=["_L", "_R"])
df_new.head()

In [ ]:
# We invoke the to_csv() method on the dataframe
df_new.to_csv('data/merged_dataframe.csv', index=False)

# Setting index=False ensures that the row labels (0, 1, 2, 3) 
# are not saved as the first column

## Exercise 4

Take some time to work on exercise 4

<a id="summary"></a>

## Summary of Learning Outcomes

1. [Numpy Is Not Enough](#problem)
    - Discuss how numpy alone cannot be the main workforce for data analysis
    - Motivate pandas as an extension of numpy and how it is very relatable to Excel users
<br><br>
2. [Pandas: An Overview](#overview)
    - A top-level exploration of the different functionality that Pandas has to offer
<br><br>
3. [Introducing Pandas Objects](#objects)
    - How Pandas objects can be thought to _enhancements_ of numpy's structured arrays
    - Introduce the 3 Pandas objects — `Series`, `Dataframe` and `Index`
    - Provide a visual overview of how a `Dataframe` is a collection of `Series` indexed by 2 `Index`-es along row & column axes
<br><br>
4. [Creating Your Own Series & DataFrames](#create)
    - How Pandas objects are closely related to numpy arrays and dictionaries
        - Generalizations of numpy arrays
        - Specialization of dictionaries
    - Using `pd.Series(...)` to create your own Pandas Series from scratch
    - Using `pd.DataFrame(...)` to create your own Pandas Dataframes from scratch
    - Investigating the structure of your created Pandas objects using `dtypes`, `shape`, `index` and `columns`
<br><br>
5. [Reading CSVs & Excels as Pandas DataFrames](#read)
    - Motivate the use of Pandas for your really large excel spreadsheets that can crash Excel
    - Using `pd.read_csv()` to read CSV files and `pd.read_excel()` to read Excel files
    - Mention parameters of these functions like `skiprows`, `header`, `usecols`, `index_col` and `sheetnames` to tweak further behaviour
    - Loading the UCI Census Income Dataset from the web
<br><br>
6. [Preliminary Investigation of a Dataset](#prelim)
    - Using `head()`, `tail()` and `sample()` to quickly glimpse at a certain rows
    - Using `info()`, `describe()` and `value_counts()` to get a quick top-level view of aggregate statistics
    - Introduce common datatypes that Pandas offers
<br><br>
7. [Selecting single and multiple columns](#select)
    - Accessing a single column using `[]` and `.` as a Series and a subset of columns using `[[...]]`as a Dataframe
    - Converting a series selection into a dataframe selection using `[[...]]`
    - Using `.unique()` to get a list of unique elements
<br><br>
8. [Indexing, Selecting and Filtering](#indexing)
    - Perform the techniques introduced in the numpy notebook → indexing, slicing, masking, fancy indexing and combinations
    - Using `.loc` and `.iloc` to select rows and columns
<br><br>
9. [Sorting Your Data](#sorting)
    - Using `.sort_values()` to sort your data
    - Using `.sort_index()` to sort your data by index
    - Sort data along multiple columns by passing a list of column names
    - Tweaking the `ascending` parameter to sort your data in ascending or descending order
    - Using `inplace` argument to modify original dataframes, in place
        - Mention caveats of how this returns a `NoneType` object and hence, one must exercise caution when chaining the result directly with other functions
<br><br>
10. [Dropping & Renaming Columns](#drop_rename)
    - Using `.drop()` to drop irrelevant columns
    - Using `.rename()` to rename weirdly named columns
    - Learn the 3 different types of null entries in your data
    - Using `.isna()` to generate masks of missing values
    - Introducing `.dropna()` to drop rows or columns with missing values
    - Tweaking the `how` parameter to `all` or `any` to modify the `dropna()` behaviour
    - Setting the `subset` parameter of `dropna()` to check/drop only certain columns
    - Using `axis` parameter to drop rows/columns
<br><br>
11. [Updating Values & Creating New Columns](#update)
    - Creating a new column
        - With constant values
        - Dependent on values in another column
        - Using `np.where()`
        - Using `.apply()`
    - Invoking `.apply()` on a Series and a Dataframe
        - How `axis` parameter needs to be specified if invoked on a dataframe
    - Using `lambda` and normal functions inside the `.apply()` method
<br><br>
12. [Aggregating Values](#agg)
    - Perform the techniques introduced in the numpy notebook → mean(), sum(), std(), min(), max(), median(), etc.
    - Using `axis` parameter to specify the axis along which the aggregation is performed
    - Using `.groupby()` to perform more powerful and nuanced aggregation on partitions that you are interested in
    - Extending the basic `groupby()` such that you group by multiple columns, aggregate multiple columns and perform multiple aggregating functions
    - Using `pd.pivot_table()` function to generate Excel-style pivot tables
<br><br>
13. [Merging Dataframes](#merge)
    - Implement one-to-one, many-to-one and many-to-many joins using `pd.merge()`
    - Using `on`, `left_on` and `right_on` parameters to specify the column names to join on
    - Using `how` parameter to specify the type of join
    - Using `suffixes` parameter to specify the suffixes to use for the new columns
<br><br>
14. [Saving Files](#save)
    - Using `to_csv()` and `to_excel()` to save your dataframes to CSV and Excel files
    - Using `index` parameter to specify whether to save the index or not
<br><br>

<figure>
  <img src='img/pd_final.jpg' style='width:500px'/>
</figure>

## Additional Information

1. [Pandas Cheatsheet](https://attachments.convertkitcdnn2.com/682688/4d4172ec-3491-43ec-9ce0-f03cc7f0eb1e/Python%20Cheat%20Sheet%20for%20Excel%20Users.pdf) is a comprehensive cheatsheet for those who are making the move from Excel to Pandas via Python. Essentially for all of you! Here is another [beginner-friendly cheatsheet](https://www.dataquest.io/blog/pandas-cheat-sheet/)

2. For more comparisons with spreadsheets, check out the [Official Pandas to Spreadsheet Comparisons](https://pandas.pydata.org/pandas-docs/dev/getting_started/comparison/comparison_with_spreadsheets.html) and [A Complete Yet Simple Guide to Move from Excel to Python](https://towardsdatascience.com/a-complete-yet-simple-guide-to-move-from-excel-to-python-d664e5683039)

3. Want to get started quickly with Pandas? Check out the official, awesome yet short [10-min guide to Pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html)

4. Do you want to have a go at learning Pandas once again? Try out [Kevin Markham's excellent YT playlist on Data Analysis with Pandas](https://www.youtube.com/playlist?list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y). Note that we will be covering more topics, specifically about cleaning and feature engineering in subsequent notebooks.

5. Want to level up with some best practices? Check out [Kevin Markham's Best practices with Pandas](https://www.youtube.com/playlist?list=PL5-da3qGB5IBITZj_dYSFqnd_15JgqwA6)

6. [Intro to pandas data structures](http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/) gives you a more exploratory sneak peek into the different file formats that you can load into Pandas (SQL, HDF5, SAS, Stata etc.)

7. [Official Groupby Documentation](https://pandas.pydata.org/docs/reference/groupby.html) provides a clear overview of the different attributes and methods that we can invoke on the groupby object

8. Want to learn more about merging and concatenating, joining and appending? Check out the [Official Merging Documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)