## Exercise-3 Intro_to_Pandas
We have seen Numpy in the last section. It is good at performing math operation on 2d-arrays of numbers. But the major drawback is, it cannot deal with heterogenous values. So, Pandas dataframes are helpful in that aspect for storing different data types and referring the values like a dict in python instead of just referring each item with index.

### Part-A Pandas Basics

#### Question 1
Convert a given dict to pd series.

**Hint:** Use **.Series**

In [5]:
import pandas as pd
import numpy as np

In [3]:
d1 = {'a': 1, 'b': 2, 'c': 3}
series1= pd.Series(d1)
series1

a    1
b    2
c    3
dtype: int64

You can directly use numpy functions on series.
#### Question 2
- Create a dictionary using following data
    - L1=[1,2,3]
    - keys=['key1', 'key2', 'key3']
    
- create a series using the dictionary created above 
- Find the dot product of both the series created above

**Hint:** Use np.dot()

In [4]:
series2 = pd.Series(data = [1,2,3], index = ['key1', 'key2', 'key3'])
series2

key1    1
key2    2
key3    3
dtype: int64

In [6]:
np.dot(series1,series2)

14

#### Dataframes
A dataframe is a table with labeled columns which can hold different types of data in each column. 

#### Question 3
- create a Dataframe using following dict
  - d1 = {'a': [1,2,3], 'b': [3,4,5], 'c':[6,7,8] }  
- Select second row in the above dataframe.

In [7]:
d1 = {'a': [1,2,3], 'b': [3,4,5], 'c':[6,7,8] }
df1 = pd.DataFrame(d1)
df1

   a  b  c
0  1  3  6
1  2  4  7
2  3  5  8

In [10]:
df1.loc[[1]]

   a  b  c
1  2  4  7

In [11]:
df1.loc[1]

a    2
b    4
c    7
Name: 1, dtype: int64

Notice the difference between two ways

#### Question 4

Select column c in second row of df1.

**Hint:** For using labels use **df.loc[row, column]**. For using numeric indexed use **df.iloc[ ]**. For using mixture of numeric indexes and labels use **df.ix[row, column]**

In [13]:
df1.loc[1,"c"]

7

## Using Dataframes on a dataset

### Part-B: Return to Traffic Data

We've learned a lot of Pandas so far.  Hopefully this has been easier to learn as we've done a lot of this in numpy.

#### Question 1

Read in the traffic data, but this time into a pandas dataframe.  Take a look at the first 5 rows

In [1]:
import pandas as pd

In [15]:
df = pd.read_csv("../data/traffic.csv")
df.head()

   speed  period  warning  pair
0     26       1        1     1
1     26       1        1     1
2     26       1        1     1
3     26       1        1     1
4     27       1        1     1

#### Question 2

Check the type and dimensions of given dataset

In [16]:
df.shape

(8437, 4)

In [17]:
type(df)

pandas.core.frame.DataFrame

#### Question 3

Check the first 10 lines and last 10 lines of the given dataset

In [18]:
df.head(10)

   speed  period  warning  pair
0     26       1        1     1
1     26       1        1     1
2     26       1        1     1
3     26       1        1     1
4     27       1        1     1
5     28       1        1     1
6     28       1        1     1
7     28       1        1     1
8     28       1        1     1
9     29       1        1     1

In [19]:
df.tail(10)

      speed  period  warning  pair
8427     33       3        2    14
8428     56       3        2    14
8429     45       3        2    14
8430     50       3        2    14
8431     37       3        2    14
8432     42       3        2    14
8433     46       3        2    14
8434     47       3        2    14
8435     48       3        2    14
8436     47       3        2    14

#### Question 4

Print all the column labels in the given dataset

In [21]:
df.columns

Index(['speed', 'period', 'warning', 'pair'], dtype='object')

#### Question 5
Select first 6 rows and 3 columns in dataframe.

In [22]:
df.iloc[:6,:3]

   speed  period  warning
0     26       1        1
1     26       1        1
2     26       1        1
3     26       1        1
4     27       1        1
5     28       1        1

#### Question 6

What is the average speed of cars?  Also, check the value_counts() of period, warning, and pair.  Do we have an equal distribution?

**BONUS:** Sort the value_counts() by the index so that it's easier to read

In [3]:
df.speed.mean()

37.82422662083679

In [4]:
df.period.value_counts()

3    2837
1    2800
2    2800
Name: period, dtype: int64

In [5]:
df.warning.value_counts()

2    4275
1    4162
Name: warning, dtype: int64

In [6]:
df.pair.value_counts().sort_index()

1     600
2     600
3     597
4     567
5     583
6     600
7     600
8     600
9     600
10    590
11    700
12    600
13    600
14    600
Name: pair, dtype: int64

#### Question 7

Let's say that the speed limit for every location is 55mph (speed of 55 is not speeding).  How many speeders vs non-speeders did we have?

In [7]:
len(df[df.speed>55])

68

In [8]:
len(df[df.speed<=55])

8369

#### Question 8

Find the average speed for each period, at the location where the sign was placed

**Hint:** You will need to filter by period and warning.  It is easier to do this 3 times, filtering for the 3 different periods each time

In [9]:
before = df.loc[(df.period==1)&(df.warning==1),"speed"].mean()
just_after = df.loc[(df.period==2)&(df.warning==1),"speed"].mean()
long_after = df.loc[(df.period==3)&(df.warning==1),"speed"].mean()

print(f'Before:\t\t\t{before}\nJust After:\t\t{just_after}\nLong Time After:\t{long_after}')

Before:			36.51
Just After:		35.769285714285715
Long Time After:	37.66226138032305