## Exercise 4 Basic_data_exploration_using_pandas

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('data/adult.csv')
df.head()

,ssn,age,workclass,fnlwgt,education,education-num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,country_of_origin,income,dob
0,1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,1982-06-04
1,2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,1971-02-03
2,3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,1983-09-29
3,4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,1968-07-09
4,5,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,1993-03-08

## Question 1: Basic data exploration

#### Part A

Are there any null values?  If so, how many and for which columns?

#### Part B

What are the different marital statuses and how many rows do we have for each?

#### Part C

"Married-civ-spouse", "Married-spouse-absent", and "Married-AF-spouse" might make more sense grouped up as a single value, "Married".  

Change the three values above to be "Married" in the dataframe and check the value_counts again to make sure it went through

#### Part D

What's the average age of the people in the dataset?  What's the average age by marital status?

## Question 2:  Slicing a dataset

#### Part A

Let's say we want to evaluate "young" married individuals.  Let's create a slice of the dataset where people are younger than 30 and married

#### Part B

Let's slice up the dataset further.  We only want people from the United States

## Question 3: Altering the dataframe

#### Part A

We want to use hours_per_week but turn it into a categorical value.  Create a new column "work_status" with the following conditions:

1. If hours_per_week is less than 10, let's consider them "unemployed"
2. If hours_per_week is between 10 and 30, let's consider them "part-time"
3. If hours_per_week is between 30 and 50, they're "full-time"
4. If hours_per_week is greater than 50, they're "over-time"

#### Part B

The column names aren't the most descriptive.  Rename workclass and education-num to something that better captures the data

#### Part C

Drop any columns that are unnecessary